html {
  --color-git: #f05033;
  font-family: sans-serif;
  color: #9999aa;
  font-weight: 400;
}

.loading {
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 1 !important;
  transition: opacity 0.2s;
}

.loading svg {
  filter: drop-shadow(2px 2px 3px #0004);
}

.loading svg>* {
  opacity: 0;
}

.loading__rect {
  fill: var(--color-git);
}

.loading__line {
  fill: none;
  stroke: var(--color-git);
  stroke-width: 5px;
  stroke-linecap: round;
}

.loading__line--masked {
  stroke: #ffffff;
}

.loading__dot {
  fill: #ffffff;
}

#loading__mask {
  fill: red;
}

.loading__rect--masked {
  fill: #ffffff;
  transform: scale(0);
}

.loading__center {
  fill: none;
  stroke: var(--color-git);
  transform: scale(0);
  transform-origin: 50% 50%;
  animation: loadingCenter 1s ease;
}

.loading__line--1 {
  animation: loadingLine1 10s ease infinite;
}

.loading__line--2 {
  animation: loadingLine2 10s ease infinite;
}

@keyframes loadingCenter {
  0%,
  100% {
    opacity: 1;
    transform: scale(0);
    stroke-width: 30px;
  }
  60% {
    transform: scale(2);
    stroke-width: 3px;
  }
}

@keyframes loadingLine1 {
  0%,
  100% {
    opacity: 1;
    stroke-dasharray: 1 1000;
  }
  60% {
    stroke-dasharray: 1000 1;
  }
}

@keyframes loadingLine2 {
  0%,
  100% {
    /* opacity: 1; */
    stroke-dasharray: 1 1000;
  }
  60% {
    stroke-dasharray: 1000 1;
  }
}
